@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;500;600;700&display=swap');

@font-face {
    font-family: padrao;
    src: url('../Edu_NSW_ACT_Foundation/EduNSWACTFoundation-VariableFont_wght.ttf');
}

:root{
    --fonte-padrao: 'padrao'
}

body{
    background-image: url('../poligono-azul-em-fundo-escuro/fundo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header{
    color: white;
    font: var(--fonte-padrao);
    font-size: 18px;
}

header > nav > a {
    color: white
}

nav {
    text-align: center;
    color: white

}

main > section > a{
    color: white;
}

main{
    color: white;
}

main > section#inicio {
    height: 700px;
    border: 1px solid rgba(0, 0, 0, 0);
    text-align: center;
    font-family: var(--fonte-padrao);
    font-size: larger;
}

main > section#sobre{
    height: 700px;
    border: 1px solid rgba(0, 0, 0, 0);
    text-align: center;
    font-family: var(--fonte-padrao);
    font-size: larger;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 10px;
}

main > section > nav > button {
    height: 150px;
    width: 250px;
    box-shadow: 1px 1px 1px rgba(192, 191, 191, 0);
    border-radius: 7px 0px;
    font: var(--fonte-padrao);
    padding: 4px;
    text-decoration: none;
    transition-duration: .5s;
}

button#b1{
    background-image: url('../img-projet/miniprojeto-android.png');
    background-position: center;
    background-size: cover;

}